.main-header
  = link_to root_path do
    .logo
      %span.logo-lg TESLA 前台
      %span.logo-mini 前台
  %nav.navbar.navbar-static-top(role='navigation')
    %a.sidebar-toggle(href='#' data-toggle='offcanvas' role='button')
    .navbar-custom-menu
      %span.sr-only Toggle navigation
      %ul.nav.navbar-nav
