/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
@import "adminlte";
@import "adminlte-skins.min";
@import "alt/AdminLTE-bootstrap-social.min";
@import "alt/AdminLTE-fullcalendar.min";
@import "alt/AdminLTE-select2.min";
@import "alt/AdminLTE-without-plugins.min";
@import 'variable';
@import "home/*";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker3";

.bg {
  width: 100%;
  min-width: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  padding-top: 66.64%;
}
.title_1 {
  margin-top: 30px;
  text-align: center !important;
  background-color: #7777;
}
.float-right {
  float: right;
}
.container { width: 1920px !important; }
