.container.product_index
  .row
    .col-md-3
      - render 'common/side_bar'
    .col-md-9
      %h2.header 男裝精選
      .bg(style="background-image: url(#{asset_path('banner_1.jpg')})")
      .row
        - 10.times do
          - @products.each do |product|
            .col-md-3.product
              = image_tag product.main_image, class: 'image_wrapper'
              .introduction
                .size_list L
                .name= product.name
                .price 1000 NT
