.container.padding-top
  .row
    .col-md-4= image_tag('sub_header_1', class: 'basic_image')
    .col-md-4= image_tag('sub_header_2', class: 'basic_image')
    .col-md-4= image_tag('sub_header_3', class: 'basic_image')
