.container.padding-top
  .row
    .col-md-4= image_tag('sub_header_1.jpg', class: 'basic_image')
    .col-md-4= image_tag('sub_header_2.jpg', class: 'basic_image')
    .col-md-4= image_tag('sub_header_3.jpg', class: 'basic_image')
